.Order {
  display: grid;
  text-align: left;
  border-style: solid;
  grid-gap: 10px;
  grid-template-columns: 30px auto auto; }

.Time {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row: 1;
  justify-self: end; }

.Id {
  grid-column: 1;
  grid-row: 2;
  overflow-wrap: break-word;
  width: 30px;
  text-align: center; }

.Details {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 2;
  overflow-wrap: break-word;
  width: 500px; }

.Details textarea {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  height: inherit; }

.Actions {
  grid-column: 3;
  grid-row: 2;
  justify-self: end; }
