.OrderList {
  padding: 10px;
  display: grid;
  border-style: solid;
  grid-gap: 10px;
  max-width: 1000px;
  margin: auto; }

.OrderList-Grid {
  grid-row: 1;
  display: grid; }

.ActionList {
  grid-row: 2;
  justify-self: end; }
